# Local configurations
config/VBD_new.yaml

# Logs and training artifacts
train_log/
*.log
logs/

# Python cache and compiled files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
